@import 'projects.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.page__mane {}

.page__footer {}

.mane {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mane__intro {}

.mane__accounts {}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__name {
  text-align: center;
  font-weight: 600;
  font-size: 24pt;
  margin-bottom: 10px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.intro__spec {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
  margin-top: 0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #5e5e5e;
}

.intro__photo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.intro__text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 10pt;
  margin-top: 0;
}

.about {
  width: 100%;
}

.about__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.about__languages-list {
  list-style: none;
  padding: 0 10%;
}

.about__languages-item {
  margin-bottom: 5px;
}

.about__language-name {
  font-weight: 700;
}

.about__language-link {
  border-bottom: 1px dashed #ccc;
  cursor: default;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 370px;
  display: flex;
  justify-content: space-around;
  left: 0; top: 0;
  color: #5e5e5e;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #ccc;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em;
}

.contacts {
  width: 100%;
}

.contacts__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contacts__text {
  padding-left: 10%;
}

.contacts__type {
  font-weight: 700;
}

.contacts__link {
  color: #39aecf;
}

.contacts__link:hover {
  color: #ffa040;
}

.contacts__link:active {
  color: #ff5a40;
}

.accounts {
  width: 100%;
}

.accounts__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accounts__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10%;
  position: relative;
}

.accounts__item {
  margin: 15px;
}

.accounts__link {
  padding-bottom: 20px;
}

.accounts__link::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.accounts__link:hover::before {
  transform: scale(1.2);
}

.facebook::before {
  background-image: url("../img/social/facebook.svg");
}

.twitter::before {
  background-image: url("../img/social/twitter.svg");
}

.github::before {
  background-image: url("../img/social/github.svg");
}

.gitlab::before {
  background-image: url("../img/social/gitlab.svg");
}

.linkedin::before {
  background-image: url("../img/social/linkedin.svg");
}

.htmlacademy::before {
  background-image: url("../img/social/htmlacademy.svg");
}

.instagram::before {
  background-image: url("../img/social/instagram.png");
}

.skills {
  width: 100%;
}

.skills__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.skills__list {
  padding-left: 10%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 11pt;
  font-weight: 300;
}

.skills__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.skills__item--thin {
  font-weight: 300;
}

.skills__item--mid {
  font-weight: 400;
}

.skills__item--bold {
  font-weight: 700;
}

.about__header {
  width: 100%;
  min-width: 480px;
  padding-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}